
@{
    ViewBag.Title = "Homepage";
}

<h2>Homepage</h2>
<div class="container-fluid d-flex flex-wrap flex-row justify-content-start bg-body-tertiary p-2">

    <div class="m-3 p-3 d-flex flex-column justify-content-between align-items-center text-center flex-fill bg-body-secondary" style="width:350px; ">
        <h3>Silent Hill</h3>
        <p>Gente brutta, gente nuda, bambini ecc ti inseguono perché sei uno stronzo.</p>
        <a href="@Url.Action("paginaGioco", "Home", new { idGioco = "0" })"><img class="border border-5" style="width: 300px" src="https://preview.redd.it/ewvwhnpn30v91.png?width=1440&format=png&auto=webp&s=8e67b154eb3eaffca639fac1b8e56a572b1c1e35" alt="copertina_img" /></a>
    </div>

    <div class="m-3 p-3 d-flex flex-column justify-content-between align-items-center text-center flex-fill bg-body-secondary" style="width:350px; ">
        <h3>Red Dead Redemption 2</h3>
        <p>Sei un cowboy nella landa della Signora del West.</p>
        <a href="@Url.Action("paginaGioco", "Home", new { idGioco = "1" })"><img class="border border-5" style="width: 300px" src="https://i.ebayimg.com/images/g/PS8AAOSwQLZdpuzB/s-l1200.jpg" alt="copertina_img" /></a>
    </div>

    <div class="m-3 p-3 d-flex flex-column justify-content-between align-items-center text-center flex-fill bg-body-secondary" style="width:350px; ">
        <h3>Hitman</h3>
        <p>Un pelato che ammazza la gente.</p>
        <a href="@Url.Action("paginaGioco", "Home", new { idGioco = "2" })"><img class="border border-5" style="width: 300px" src="https://static.posters.cz/image/1300/poster/hitman-prepare-i1640.jpg" alt="copertina_img" /></a>
    </div>

    <div class="m-3 p-3 d-flex flex-column justify-content-between align-items-center text-center flex-fill bg-body-secondary" style="width:350px; ">
        <h3>Stellaris</h3>
        <p>Quando non sei Hitler, sei Mandela nello spazio.</p>
        <a href="@Url.Action("paginaGioco", "Home", new { idGioco = "3" })"><img class="border border-5" style="width: 300px" src="https://m.media-amazon.com/images/I/612ImGoSHRL._AC_UF1000,1000_QL80_.jpg" alt="copertina_img" /></a>
    </div>

    <div class="m-3 p-3 d-flex flex-column justify-content-between align-items-center text-center flex-fill bg-body-secondary" style="width:350px; ">
        <h3>Selene</h3>
        <p>Se una bellissima straniera bussasse alla tua porta, la lasceresti entrare? No, farei entrare Ascanio.</p>
        <a href="@Url.Action("paginaGioco", "Home", new { idGioco = "4" })"><img class="border border-5" style="width: 300px" src="https://i.vnstat.net/9627ed4931e78e128ff58dcf442ee026" alt="copertina_img" /></a>
    </div>

    <div class="m-3 p-3 d-flex flex-column justify-content-between align-items-center text-center flex-fill bg-body-secondary" style="width:350px; ">
        <h3>Cyberpunk 2077</h3>
        <p>Sei uno zingaro nel 2077.</p>
        <a href="@Url.Action("paginaGioco", "Home", new { idGioco = "5" })"><img class="border border-5" style="width: 300px" src="https://m.media-amazon.com/images/I/61BBvVKmgOL._AC_UF1000,1000_QL80_.jpg" alt="copertina_img" /></a>
    </div>

    <div class="m-3 p-3 d-flex flex-column justify-content-between align-items-center text-center flex-fill bg-body-secondary" style="width:350px; ">
        <h3>Life Is Strange</h3>
        <p>Il classico trip d'acidi di una ragazza al liceo americano.</p>
        <a href="@Url.Action("paginaGioco", "Home", new { idGioco = "6" })"><img class="border border-5" style="width: 300px" src="https://m.media-amazon.com/images/I/618QvN-khRL._AC_UF1000,1000_QL80_.jpg" alt="copertina_img" /></a>
    </div>

    <div class="m-3 p-3 d-flex flex-column justify-content-between align-items-center text-center flex-fill bg-body-secondary" style="width:350px; ">
        <h3>Escape From Tarkov</h3>
        <p>Uno sparatutto di sopravvivenza dove non sopravvivi e piangi a fine partita.</p>
        <a href="@Url.Action("paginaGioco", "Home", new { idGioco = "7" })"><img class="border border-5" style="width: 300px" src="https://i.redd.it/g09q3kxz5f461.jpg" alt="copertina_img" /></a>
    </div>

    <div class="m-3 p-3 d-flex flex-column justify-content-between align-items-center text-center flex-fill bg-body-secondary" style="width:350px; ">
        <h3>Detroit Become Human</h3>
        <p>Io Robot ma senza Will Smith.</p>
        <a href="@Url.Action("paginaGioco", "Home", new { idGioco = "8" })"><img class="border border-5" style="width: 300px" src="https://i.ebayimg.com/images/g/YocAAOSwOmZihmWz/s-l1600.jpg" alt="copertina_img" /></a>
    </div>

    <div class="m-3 p-3 d-flex flex-column justify-content-between align-items-center text-center flex-fill bg-body-secondary" style="width:350px; ">
        <h3>Baldur's Gate 3</h3>
        <p>Gente strana che va in giro a menare e scopare, con i dadi.</p>
        <a href="@Url.Action("paginaGioco", "Home", new { idGioco = "9" })"><img class="border border-5" style="width: 300px" src="https://upload.wikimedia.org/wikipedia/en/1/12/Baldur%27s_Gate_3_cover_art.jpg" alt="copertina_img" /></a>
    </div>

</div>
